/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-family:Arial,Helvetica;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
.clear {
    clear:both;
}
.blue-button {
	-moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #19bed0), color-stop(1, #00acc7) );
	background:-moz-linear-gradient( center top, #19bed0 5%, #00acc7 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#19bed0', endColorstr='#00acc7');
	background-color:#19bed0;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	padding:10px 24px;
	text-decoration:none;
}.blue-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #00acc7), color-stop(1, #19bed0) );
	background:-moz-linear-gradient( center top, #00acc7 5%, #19bed0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00acc7', endColorstr='#19bed0');
	background-color:#00acc7;
}.blue-button:active {
	position:relative;
	top:1px;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.top-repeater {
    height:8px; 
    background: url(img/top-repeater.png) repeat-x;
    margin-top: 16px;
}
header {
    width:990px;
    margin:0 auto;
    height:118px;
}
.logo {
    margin-top:34px;
    float:left;
    width:300px;
}
.topnav {
    float:right;
    width:460px;
}
.socialbar {
    float:right;
    margin-top:38px;
    margin-right:45px;
}
.topnav nav{
    margin-top:76px;
    font-size:13px;
    color:#333;
}
.topnav nav a,.topnav nav a:visited,.topnav nav a:active{
    padding-right:12px;
    color:#444;
    text-decoration:none;
}
.topnav nav a:hover{
    color:#222;
    text-decoration:underline;
}
.topnav .login-btn {
    float:right;
    margin-top:-20px;
}
.slider-wrapper {
    margin-top:8px;
    background-color:#00adc7;
    height:320px;
}
.slider-inner {
    width:990px;
    margin:0 auto;
}